/* General styles for the entire document */
body {
    display: flex;
    margin: 0;
    background-color: #e9e9e1; /* Light gray background */
    font-family: "Dosis", sans-serif; /* Font family for the entire page */
    font-optical-sizing: auto; 
    font-weight: 400; /* This should be just '200' */
    
}
/* Styling for the banner section */
.banner {
    position: relative;
    height: 100vh; /* Full height of the viewport */
}
/* Styling for the logo */
.logo {
    position: absolute;
    background-color: rgba(168, 184, 191, 40%);
    top: 20%; 
    color: #bfbdaf; 
    font-weight: bold; 
    width: 100%; 
    text-align: center; 
}

/* Styling for header paragraph */
p {
    font-size: 20px;
    padding-left: 40px; 
    padding-bottom: 10px; 
}

/* Styling for sign-up section */
.sign_up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; 
}

/* Styling for form and form fields */
form,
.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; /* Box shadow effect */
    padding-left: 40px; 
    background-color: rgb(255, 254, 251); 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

/* Styling for rows within forms */
.row {
    display: flex;
    align-items: center;
    justify-content: left; 
    gap: 50px; 
}

/* Styling for input fields */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    padding: 8px; 
    margin: 5px 0; 
    box-sizing: border-box;
    width: 200px;
}

/* Styling for labels and inputs */
label,
input {
    display: block; 
}

/* Styling for account section */
.account {
    display: block;
    padding-left: 40px; 
    padding-top: 20px; 
}

/* Styling for buttons */
button {
    background-color: #dad6c9; 
    border: solid; 
    border-radius: 10px; 
    color: #87683d; 
    padding: 16px 32px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; 
    transition-duration: 0.4s; 
    cursor: pointer; 
}

/* Hover effect for buttons */
button:hover {
    background-color: #87683d; /* Background color on hover */
    color: #e9e9e1; /* Text color on hover */
}

/* Styling for images */
#food {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Resize the image to cover its container */
}

/* Styling for invalid input fields */
input:invalid {
    border-color: red; /* Red border color for invalid inputs */
}

/* Styling for valid input fields */
input:valid {
    border-color: #E5E7EB; 
    border-radius: 5px; 
}

/* Styling for messages */
#message {
    font-size: 10px; 
}

/* Styling for links */
a {
    text-decoration: none; 
    color: #87683d; 
    font-weight: bold;
}
